body {
    background-color: rebeccapurple;
   
}
h1{
    justify-content: center;
   
}
div{
    justify-content: center;
   
}
#out{
    display:block;
    background-color: lightgreen;
    height:200px;
    margin: 100px;
    padding: 50px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: large;
}
#btn{
    height: 50px;
    width: 75px;
}
#form{
    font-size:30PX;
}
#rbtn{
    height: 50px;
    width: 75px;
}